<LinkTo
  @route="profile"
  @model={{@profile.id}}
  data-umami-event="open-profile-button"
>
  <div class="test-inner" local-class="profile-card">
    <div class="test-author-thumb d-flex">

      {{#if @profile.profilePicture}}
        <img
          src="{{@profile.profilePicture}}"
          alt="Fotografía de {{@profile.firstName}} {{@profile.lastName}}"
          class="img-fluid"
        />
      {{else}}
        <img
          src={{this.genericProfilePicture}}
          alt="Foto de perfíl genérica"
          class="img-fluid"
        />
      {{/if}}

      <div class="test-author-info" local-class="profile-info">
        <h4>{{@profile.firstName}} {{@profile.lastName}}</h4>
        <h5 local-class="profile-headline">{{@profile.entityType}}</h5>
        <p>📍 {{this.getLocationName @profile.location}}</p>
        <p>💡
          {{#each @profile.modalities as |item|}}
            {{#if (has-next item @profile.modalities)}}
              {{item}}
              /
            {{else}}
              {{item}}
            {{/if}}
          {{/each}}
        </p>
        {{#if @profile.incluyoBadge}}
          <p>🌈 Equipo Incluyo</p>
        {{/if}}
      </div>
    </div>

    <div local-class="right-align">
      <button
        class="btn btn-primary btn-circled"
        local-class="profile-button"
        type="button"
      >
        Ver perfil completo
      </button>
    </div>

    <i class="fa fa-quote-right"></i>
  </div>
</LinkTo>