{{page-title "Directorio"}}

<div
  class="container"
  local-class="cards-container"
  {{did-insert this.scrollToTop}}
  {{did-update this.scrollToTop this.page}}
>
  <div class="row gx-3">
    {{#each @model.profiles as |profile|}}
      <div id="{{profile.id}}" class="col-md-6">
        <ProfilesList::Card @profile={{profile}} />
      </div>
    {{/each}}
  </div>
  <ProfilesList::Pagination
    @currentPage={{this.page}}
    @resultsInPage={{@model.profiles.length}}
    @prevPage={{this.prevPage}}
    @nextPage={{this.nextPage}}
  />
</div>